@import "tailwindcss";

@theme inline {
    --color-background: theme(colors.neutral.50);
    --color-foreground: theme(colors.neutral.800);
    --font-sans: var(--font-playpen-sans);
    --font-kosugi-maru: var(--font-kosugi-maru);
    --font-gaegu: var(--font-gaegu);
    --font-rock-salt: var(--font-rock-salt);
}

@layer base {
    body {
        @apply bg-background text-foreground font-sans;
    }
}
